node_modules
public
.tmp
.sass-cache
.editorconfig
.idea
client/bower_components
dist
/server/config/local.env.ts
npm-debug.log
coverage
.DS_Store
.jshintignore
.jshintrc
.env
client/version.html
logs
*.js
